.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-logo {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px auto;
    display: block;
}
.login-photo {
    width: 100%;
    height: auto;
}
.company-photo {
    background: #f8f9fa;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .company-photo {
        margin-top: 20px;
    }
}